/* Background colors */
.bg-primary {
  background-color: var(--primary-color);
  color: var(--dark-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
  color: var(--dark-color);
}

.bg-dark {
  background-color: var(--dark-color);
  color: #fff;
}

.bg-light {
  background-color: var(--light-color);
  color: var(--dark-color);
}

/* Text colors */
.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-dark {
  color: var(--dark-color);
}

.text-light {
  color: var(--light-color);
}

/* Text sizes */
.lead {
  font-size: 1.15rem;
}

.sm {
  font-size: 1rem;
}

.lg {
  font-size: 2.5rem;
}

.xl {
  font-size: 3.5rem;
}

/* Margin */
.my-1 {
  margin: 0.5rem 0;
}

.my-2 {
  margin: 1.5rem 0;
}

.my-3 {
  margin: 2rem 0;
}

.my-4 {
  margin: 3rem 0;
}

.my-5 {
  margin: 4rem 0;
}

/* Padding */
.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 1.5rem 0;
}

.py-3 {
  padding: 2rem 0;
}

.py-4 {
  padding: 3rem 0;
}

.py-5 {
  padding: 4rem 0;
}
